.formContainer{
    width: 100%;
    position: relative;
}
.namesContainer{
    display: flex;
}
.inputs{
    position: relative;
    width: 100%; 
    padding: 0 5px;
    margin-bottom: 22px;
}
.emptyMessageContainer{
    margin-top: 3px;
    position: absolute;
}
.inputContainer{
    display: flex;
    width: 100%;
}