.wrapper{
    margin: 0 auto;
    width: max-content;
    margin-top: 0;
}

.formNewClientContainer{
    width: 100vw;
    max-width: 600px;
    margin-left: 240px;
    position: relative;
    padding: 20px 5px;
    
}

.form{
    padding: 0 8px;
    height: 210px;
}

.titleContainer{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.logoContainer{
    position: relative;
    height: 20vh;
    width: 100%;
    margin: 0 auto; 
    margin-bottom: 8px;
}

.logo{
    height: 100%;
}

.buttonsContainer{
    width: max-content;
    margin: 0 auto;
    margin-top: 10px;
}

@media only screen and (max-width: 890px) {
    .formNewClientContainer{
        margin-left: 0;
    }
}
@media only screen and (max-width: 560px) {
    .formCompleteButtons{
        display: flex;
        flex-direction: column;
    }
    .formCompleteButtons button{
        margin-bottom: 8px !important;
    }
}


