.customerListContainer{
    margin-left: 240px;
    padding: 0 25px;
    margin-top: 100px;
    white-space: nowrap;
}
.titlesContainer{
    padding: 8px 0;
    margin-right: 52px;
}
.titlesContainer div{
    padding-left: 12px;
}
.customerParametersContainer, .titlesContainer{
    display: flex;
    overflow: hidden;
}
.customerParametersContainer div{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    padding: 0 12px;
    
    display: flex;
    align-items: center;
}

.nameContainer{
    min-width: 320px;
    width: 320px;
}
.cpfContainer{
    min-width: 150px;
    width: 150px;
}
.locationContainer{
    min-width: 200px;
    width: 200px;
}
.telephoneContainer{
    min-width: 150px;
    width: 150px;
}
.emailContainer{
    flex-grow: 1;
}



@media only screen and (max-width: 1280px) {
    .emailContainer{
        visibility: hidden;
    }
}
@media only screen and (max-width: 1135px) {
    .locationContainer{
        visibility: hidden;
    }
}
@media only screen and (max-width: 945px) {
    .telephoneContainer{
        visibility: hidden;
    }
}


@media only screen and (max-width: 890px) {
    .customerListContainer{
        margin-top: 80px;
    }
    .customerListContainer{
        margin-left: 0;
    }
    .telephoneContainer{
        visibility: visible;
    }
}
@media only screen and (max-width: 705px) {
    .telephoneContainer{
        visibility: hidden;
    }
}
@media only screen and (max-width: 555px) {
    .cpfContainer{
        visibility: hidden;
    }
}

.cardExtendContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.cardExtendContainer div{
    width: max-content;
    flex-grow: 1;
}