.customerListContainer{
    margin-left: 240px;
    padding: 0 25px;
    margin-top: 100px;
}
.customerParameters{
    display: flex;
    overflow: hidden;
}
.customerParameters div{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    padding: 0 12px;
    
    display: flex;
    align-items: center;
}

.nameContainer{
    min-width: 320px;
    width: 320px;
}
.cpfContainer{
    min-width: 150px;
    width: 150px;
}
.locationContainer{
    min-width: 200px;
    width: 200px;
}
.telephoneContainer{
    min-width: 150px;
    width: 150px;
}
.emailContainer{
    flex-grow: 1;
}

@media only screen and (max-width: 890px) {
    .customerListContainer{
        margin-left: 0;
    }
}