.wrapper{
    margin: 0 auto;
    width: max-content;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.formNewClientContainer{
    width: 100vw;
    max-width: 600px;
    padding: 20px 5px;
    padding-top: 0;
    height: max-content;
    position: relative;
}

.form{
    padding: 0 8px;
    min-height: 335px;
    height: max-content;
}

.titleContainer{
    width: 100%;
    text-align: center;
}

.logoContainer{
    position: relative;
    height: max-content;
    width: 100%;
    margin: 0 auto; 
    padding: 30px 30px;
}

.logo{
    object-fit:scale-down;
    width: 100%;
}

.buttonsContainer{
    width: max-content;
    margin: 0 auto;
    margin-top: 10px;
}
@media only screen and (max-width: 1800px) {
    .formNewClientContainer{
        margin-left: 240px;
    }
}
@media only screen and (max-width: 890px) {
    .formNewClientContainer{
        margin-left: 0;
        margin-top: 80px;
    }
    .wrapper{
        align-items: start;
    }
}
@media only screen and (max-width: 560px) {
    .formCompleteButtons{
        display: flex;
        flex-direction: column;
    }
    .formCompleteButtons button{
        margin-bottom: 8px !important;
    }
}


